@charset "UTF-8";

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124px;
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124px;
	}
}
@-webkit-keyframes color {
	0%,
	100% {
		stroke: #ff5652;
	}

	40% {
		stroke: #2196F3;
	}

	66% {
		stroke: #32c787;
	}

	80%,
	90% {
		stroke: #ffc107;
	}
}
@keyframes color {
	0%,
	100% {
		stroke: #ff5652;
	}

	40% {
		stroke: #2196F3;
	}

	66% {
		stroke: #32c787;
	}

	80%,
	90% {
		stroke: #ffc107;
	}
}
