@charset "UTF-8";

.btn-block,
input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
	width: 100%;
}

.btn {
	display: inline-block;
	line-height: 100%;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

.btn.disabled,
.btn:disabled {
	cursor: not-allowed;
	opacity: 0.65;
	box-shadow: none;
}

.btn.active,
.btn:active {
	background-image: none;
	box-shadow: none,none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none;
}

.btn-primary {
	background-color: #2196F3;
	border-color: #2196F3;
}

.btn-primary,
.btn-primary:focus {
	color: #FFF;
}

.btn-primary:hover {
	color: #FFF;
	background-color: #128ff2;
	border-color: #128ff2;
}

.btn-primary.disabled,
.btn-primary:disabled {
	background-color: #2196F3;
	border-color: #2196F3;
}

.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
	color: #FFF;
	background-color: #128ff2;
	background-image: none;
	border-color: #128ff2;
}

.btn-secondary {
	background-color: #FFF;
	border-color: #efefef;
}

.btn-secondary,
.btn-secondary:focus {
	color: #292b2c;
}

.btn-secondary:hover {
	color: #292b2c;
	background-color: #f7f7f7;
	border-color: #e7e7e7;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
	background-color: #FFF;
	border-color: #efefef;
}

.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
	color: #292b2c;
	background-color: #f7f7f7;
	background-image: none;
	border-color: #e7e7e7;
}

.btn-info {
	background-color: #00BCD4;
	border-color: #00BCD4;
}

.btn-info,
.btn-info:focus {
	color: #FFF;
}

.btn-info:hover {
	color: #FFF;
	background-color: #00aec5;
	border-color: #00aec5;
}

.btn-info.disabled,
.btn-info:disabled {
	background-color: #00BCD4;
	border-color: #00BCD4;
}

.btn-info.active,
.btn-info:active,
.show > .btn-info.dropdown-toggle {
	color: #FFF;
	background-color: #00aec5;
	background-image: none;
	border-color: #00aec5;
}

.btn-success {
	background-color: #32c787;
	border-color: #32c787;
}

.btn-success,
.btn-success:focus {
	color: #FFF;
}

.btn-success:hover {
	color: #FFF;
	background-color: #2fbb7f;
	border-color: #2fbb7f;
}

.btn-success.disabled,
.btn-success:disabled {
	background-color: #32c787;
	border-color: #32c787;
}

.btn-success.active,
.btn-success:active,
.show > .btn-success.dropdown-toggle {
	color: #FFF;
	background-color: #2fbb7f;
	background-image: none;
	border-color: #2fbb7f;
}

.btn-warning {
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning,
.btn-warning:focus {
	color: #FFF;
}

.btn-warning:hover {
	color: #FFF;
	background-color: #f7b900;
	border-color: #f7b900;
}

.btn-warning.disabled,
.btn-warning:disabled {
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning.active,
.btn-warning:active,
.show > .btn-warning.dropdown-toggle {
	color: #FFF;
	background-color: #f7b900;
	background-image: none;
	border-color: #f7b900;
}

.btn-danger {
	background-color: #ff5652;
	border-color: #ff5652;
}

.btn-danger,
.btn-danger:focus {
	color: #FFF;
}

.btn-danger:hover {
	color: #FFF;
	background-color: #ff4743;
	border-color: #ff4743;
}

.btn-danger.disabled,
.btn-danger:disabled {
	background-color: #ff5652;
	border-color: #ff5652;
}

.btn-danger.active,
.btn-danger:active,
.show > .btn-danger.dropdown-toggle {
	color: #FFF;
	background-color: #ff4743;
	background-image: none;
	border-color: #ff4743;
}

.btn-outline-primary {
	color: #2196F3;
	background-image: none;
	background-color: transparent;
	border-color: #2196F3;
}

.btn-outline-primary:hover {
	color: #FFF;
	background-color: #2196F3;
	border-color: #2196F3;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
	color: #2196F3;
	background-color: transparent;
}

.btn-outline-primary.active,
.btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #FFF;
	background-color: #2196F3;
	border-color: #2196F3;
}

.btn-outline-secondary {
	color: #efefef;
	background-image: none;
	background-color: transparent;
	border-color: #efefef;
}

.btn-outline-secondary:hover {
	color: #FFF;
	background-color: #efefef;
	border-color: #efefef;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
	color: #efefef;
	background-color: transparent;
}

.btn-outline-secondary.active,
.btn-outline-secondary:active,
.show > .btn-outline-secondary.dropdown-toggle {
	color: #FFF;
	background-color: #efefef;
	border-color: #efefef;
}

.btn-outline-info {
	color: #00BCD4;
	background-image: none;
	background-color: transparent;
	border-color: #00BCD4;
}

.btn-outline-info:hover {
	color: #FFF;
	background-color: #00BCD4;
	border-color: #00BCD4;
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
	color: #00BCD4;
	background-color: transparent;
}

.btn-outline-info.active,
.btn-outline-info:active,
.show > .btn-outline-info.dropdown-toggle {
	color: #FFF;
	background-color: #00BCD4;
	border-color: #00BCD4;
}

.btn-outline-success {
	color: #32c787;
	background-image: none;
	background-color: transparent;
	border-color: #32c787;
}

.btn-outline-success:hover {
	color: #FFF;
	background-color: #32c787;
	border-color: #32c787;
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
	color: #32c787;
	background-color: transparent;
}

.btn-outline-success.active,
.btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle {
	color: #FFF;
	background-color: #32c787;
	border-color: #32c787;
}

.btn-outline-warning {
	color: #ffc107;
	background-image: none;
	background-color: transparent;
	border-color: #ffc107;
}

.btn-outline-warning:hover {
	color: #FFF;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
	color: #ffc107;
	background-color: transparent;
}

.btn-outline-warning.active,
.btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle {
	color: #FFF;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-danger {
	color: #ff5652;
	background-image: none;
	background-color: transparent;
	border-color: #ff5652;
}

.btn-outline-danger:hover {
	color: #FFF;
	background-color: #ff5652;
	border-color: #ff5652;
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
	color: #ff5652;
	background-color: transparent;
}

.btn-outline-danger.active,
.btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle {
	color: #FFF;
	background-color: #ff5652;
	border-color: #ff5652;
}

.btn-link {
	color: #03A9F4;
	border-radius: 0;
}

.btn-link,
.btn-link.active,
.btn-link:active,
.btn-link:disabled {
	background-color: transparent;
	box-shadow: none;
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
	border-color: transparent;
}

.btn-link:focus,
.btn-link:hover {
	color: #0275a8;
	background-color: transparent;
}

.btn-link:disabled {
	color: #636c72;
}

.btn-group-lg > .btn,
.btn-lg {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	border-radius: 2px;
}

.btn-group-sm > .btn,
.btn-sm {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	border-radius: 2px;
}

.btn-block {
	display: block;
}

.btn-block+.btn-block {
	margin-top: 0.5rem;
}

.btn-group,
.btn-group-vertical {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.btn-group > .btn.active,
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover,
.btn-group-vertical > .btn.active,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:hover {
	z-index: 2;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group,
.btn-group-vertical .btn+.btn,
.btn-group-vertical .btn+.btn-group,
.btn-group-vertical .btn-group+.btn,
.btn-group-vertical .btn-group+.btn-group {
	margin-left: -1px;
}

.btn+.dropdown-toggle-split::after,
.btn-group > .btn:first-child {
	margin-left: 0;
}

.btn-toolbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.btn-toolbar .input-group {
	width: auto;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group > .btn-group {
	float: left;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
	outline: 0;
}

.btn+.dropdown-toggle-split {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.btn-group-sm > .btn+.dropdown-toggle-split,
.btn-sm+.dropdown-toggle-split {
	padding-right: 0.375rem;
	padding-left: 0.375rem;
}

.btn-group-lg > .btn+.dropdown-toggle-split,
.btn-lg+.dropdown-toggle-split {
	padding-right: 1.125rem;
	padding-left: 1.125rem;
}

.btn-group.open .dropdown-toggle,
.btn-group.open .dropdown-toggle.btn-link {
	box-shadow: none;
}

.btn-group-vertical {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.btn-group-vertical .btn,
.btn-group-vertical .btn-group {
	width: 100%;
}

.btn-group-vertical > .btn+.btn,
.btn-group-vertical > .btn+.btn-group,
.btn-group-vertical > .btn-group+.btn,
.btn-group-vertical > .btn-group+.btn-group {
	margin-top: -1px;
	margin-left: 0;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

[data-toggle=buttons] > .btn input[type=checkbox],
[data-toggle=buttons] > .btn input[type=radio],
[data-toggle=buttons] > .btn-group > .btn input[type=checkbox],
[data-toggle=buttons] > .btn-group > .btn input[type=radio] {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}
