@charset "UTF-8";

.table {
	max-width: 100%;
}

.table td,
.table th {
	padding: 1rem 1.5rem;
	vertical-align: top;
	border-top: 1px solid #f2f2f2;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #f2f2f2;
}

.table tbody+tbody {
	border-top: 2px solid #f2f2f2;
}

.table .table {
	background-color: #f3f3f3;
}

.table-sm td,
.table-sm th {
	padding: 0.75rem 1rem;
}

.table-bordered,
.table-bordered td,
.table-bordered th {
	border: 1px solid #f2f2f2;
}

.table-bordered thead td,
.table-bordered thead th {
	border-bottom-width: 2px;
}

.table-inverse.table-bordered,
.table-responsive.table-bordered {
	border: 0;
}

.table-active,
.table-active > td,
.table-active > th,
.table-hover tbody tr:hover,
.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f2f2f2;
}

.table-hover .table-active:hover,
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
	background-color: #e5e5e5;
}

.table-success,
.table-success > td,
.table-success > th {
	background-color: #57d59f;
}

.table-hover .table-success:hover,
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
	background-color: #43d093;
}

.table-info,
.table-info > td,
.table-info > th {
	background-color: #2ebcfc;
}

.table-hover .table-info:hover,
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
	background-color: #14b4fc;
}

.table-warning,
.table-warning > td,
.table-warning > th {
	background-color: #ffc721;
}

.table-hover .table-warning:hover,
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
	background-color: #ffc107;
}

.table-danger,
.table-danger > td,
.table-danger > th {
	background-color: #ff6f6c;
}

.table-hover .table-danger:hover,
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
	background-color: #ff5652;
}

.thead-inverse th {
	color: #f3f3f3;
	background-color: #404c54;
}

.thead-default th {
	color: #464a4c;
	background-color: #fbfbfb;
}

.table-inverse {
	color: #f3f3f3;
	background-color: #404c54;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
