$breadcrumb-prefix: 'nf-breadcrumb';
@import "../../scss/_variables.scss";

.#{$breadcrumb-prefix} {
  margin-bottom: 0;
  & > li {
    display: block;
    float: left;

    &:last-child {
      font-weight: 500;
      > .nf-breadcrumb-separator {
        display: none;
      }
    }
  }
  &-item {
    color: rgba(0, 0, 0, .65);
  }
  a.#{$breadcrumb-prefix}-item {
    color: $link-color-base;
  }
}
