$datetime-picker-prefix: 'flatpickr';
.form-control[readonly] {
  opacity: 1 !important;
}

.flatpickr-calendar {
  border-radius: 2px;
  border: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  width: auto;
  margin-top: -2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:before,
  &:after {
    display: none;
  }
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  border-color: #f6f6f6;
  height: 60px;
}

.flatpickr-month {
  background-color: #39bbb0;
  color: #FFF;
  height: 60px;
  border-radius: 2px 2px 0 0;
  margin-bottom: 10px;
}

.flatpickr-current-month {
  top: 18px;
  font-size: 1.3rem;
  font-weight: 500;
}

.flatpickr-current-month input.cur-year,
.flatpickr-current-month span.cur-month {
  font-weight: 500;
}

.flatpickr-current-month .numInputWrapper:hover,
.flatpickr-current-month span.cur-month:hover {
  background-color: transparent;
}

.flatpickr-current-month .numInputWrapper span {
  border: 0;
  right: -5px;
  padding: 0;
}

.flatpickr-current-month .numInputWrapper span:after {
  left: 3px;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: #FFF;
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: #FFF;
}

.flatpickr-next-month,
.flatpickr-prev-month {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 1.5rem;
  top: 13px;
  padding: 0;
}

.flatpickr-next-month:hover,
.flatpickr-prev-month:hover {
  background-color: rgba(255,255,255,.1);
  color: #FFF;
}

.flatpickr-prev-month {
  margin-left: 12px;
}

.flatpickr-next-month {
  margin-right: 12px;
}

.flatpickr-innerContainer {
  padding: 10px;
}

span.flatpickr-weekday {
  font-weight: 500;
  color: #333;
}

.flatpickr-day {
  font-size: 0.92rem;
  border: 0;
}

.flatpickr-day.selected,
.flatpickr-day.selected:hover {
  background-color: #39bbb0!important;
}

.flatpickr-day.today,
.flatpickr-day.today:hover {
  background-color: #f6f6f6;
  color: #333;
}

.flatpickr-day:hover {
  background-color: #f6f6f6;
}

.flatpickr-time {
  max-height: 60px;
  height: 60px;
  line-height: 60px;
}

.flatpickr-time .flatpickr-am-pm,
.flatpickr-time .numInputWrapper {
  height: auto;
}

.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time .numInputWrapper:hover {
  background-color: #f9f9f9;
}