$flex-prefix: 'nf-flex';

.#{$flex-prefix}-flex {
  flex: 1;
}

.#{$flex-prefix}-auto {
  flex: auto;
}

.#{$flex-prefix}-none {
  flex: none;
}

.#{$flex-prefix} {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;

  &.#{$flex-prefix}-wrap {
    flex-wrap: wrap;
  }

  &.#{$flex-prefix}-nowrap {
    flex-wrap: nowrap;
  }

  &.#{$flex-prefix}-row {
    flex-direction: row;
  }

  &.#{$flex-prefix}-column {
    flex-direction: column;
  }

  &.#{$flex-prefix}-justify-start {
    justify-content: flex-start;
  }

  &.#{$flex-prefix}-justify-end {
    justify-content: flex-end;
  }

  &.#{$flex-prefix}-justify-center {
    justify-content: center;
  }

  &.#{$flex-prefix}-justify-between {
    justify-content: space-between;
  }

  &.#{$flex-prefix}-justify-around {
    justify-content: space-around;
  }

  &.#{$flex-prefix}-align-start {
    align-items: flex-start;
  }

  &.#{$flex-prefix}-align-end {
    align-items: flex-end;
  }

  &.#{$flex-prefix}-align-center {
    align-items: center;
  }

  &.#{$flex-prefix}-align-baseline {
    align-items: baseline;
  }

  &.#{$flex-prefix}-align-stretch {
    align-items: stretch;
  }
}
