$select-prefix: 'select2';

.#{select-prefix} {
  &--default {
    
  }
}

.select2-dropdown {
  animation-fill-mode: both;
}
.select2-dropdown .select2-search--dropdown:before {
  font-family: Material-Design-Iconic-Font;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #f1f1f1;
  height: auto;
}

.select2-container--default .select2-selection--single:before {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 1;
  right: 0;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #d1d1d1;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #636c72;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.25;
  padding: 0.65rem 0.1rem;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 0;
}

.select2-container--default .select2-selection--multiple {
  background-color: transparent;
  border: 0;
  box-shadow: 0 1px 0 0 #f1f1f1;
  border-radius: 0;
  padding-bottom: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 2px;
  border: 0;
  background-color: #f9f9f9;
  padding: 0.4rem 0.8rem;
  color: #464a4c;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 0.5rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0 0.1rem;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: transparent;
  opacity: 0.5;
}

.select2-container--default .selection {
  position: relative;
  display: block;
}

.select2-container--default .selection:after,
.select2-container--default .selection:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  transition: all 0.2s;
  transition-timing-function: ease;
  background-color: #03A9F4;
}

.select2-container--default .selection:before {
  left: 50%;
}

.select2-container--default .selection:after {
  right: 50%;
}

.select2-container--open .selection:after,
.select2-container--open .selection:before {
  width: 50%;
}

.select2-dropdown {
  background-color: #FFF;
  border: 0;
  border-radius: 2px;
  padding: 0.8rem 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  z-index: 9;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.select2-dropdown .select2-results__option {
  padding: 0.65rem 1.5rem;
}

.select2-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: #f7f7f9;
  color: #1d1e1f;
}

.select2-dropdown .select2-results__option[aria-selected=true] {
  position: relative;
  padding-right: 1.5rem;
  background-color: #f7f7f9;
  color: #1d1e1f;
}

.select2-dropdown .select2-results__option[aria-selected=true]:before {
  font-family: Material-Design-Iconic-Font;
  content: '\f26b';
  position: absolute;
  top: 0.45rem;
  right: 1.5rem;
  font-size: 1.3rem;
  color: #1d1e1f;
}

.select2-dropdown .select2-search--dropdown {
  margin-top: -.5rem;
  border-bottom: 1px solid #f9f9f9;
  position: relative;
  margin-bottom: 1rem;
}

.select2-dropdown .select2-search--dropdown:before {
  content: '\f1c3';
  font-size: 1.5rem;
  color: #707070;
  position: absolute;
  left: 1.4rem;
  top: 0.65rem;
}

.select2-dropdown .select2-search--dropdown .select2-search__field {
  border: 0;
  background-color: transparent;
  height: 2.8rem;
  color: #464a4c;
  padding-left: 3.5rem;
}