$component-prefix: 'nf-switch';

.#{$component-prefix} {
  display: inline-block;
  width: 36px;
  height: 20px;
  position: relative;
  &-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;

    &:checked ~ .#{$component-prefix}-helper:after {
      left: calc(100% - 20px);
    }
    &:disabled ~ .#{$component-prefix}-helper {
      opacity: 0.65;
    }
    &:active ~ .#{$component-prefix}-helper:after {
      box-shadow: 0 0 0 10px rgba(0,0,0,.05);
    }
  }
  &-helper {
    position: absolute;
    height: 12px;
    width: 100%;
    &:after,
    &:before {
      will-change: left,background-color;
      content: '';
      position: absolute;
      left: 0;
      transition: left 0.2s,background-color,.2s;
    }
    &:before {
      background-color: #e0e0e0;
      top: 4px;
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
    &:after {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #FFF;
      left: 0;
      box-shadow: 0 2px 8px rgba(0,0,0,.2);
      z-index: 1;
    }
  }
}